*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
}
/* header{
    position:fixed;
    width:100%;
    opacity: 90%;
} */
body{
    background-color: #eee;
}
nav{
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
   padding: 1rem 1.5rem;
}
nav h1{
    letter-spacing: 5px;
    /* padding: 0.5rem 0rem; */
    padding-right: calc(1rem-5px);
    /* transition: 0.3s; */
    /* font-weight: 900; */
    font-size: 2rem;
}
nav h1:hover{
    color: #8F93F3;
}
.menu{
    display: none;
    align-items: center;
    margin: 0 -1rem;
}
.menu a{
    margin: 0 1rem;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.menu a:hover{
    color:#8F93F3 ;
}
.hamburger{
    appearance: none;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    display: block;
    width: 2rem;
    height: 2rem;
}
.hamburger span{
    color: #fff;
    font-size: 2rem;
}
.mobile-menu{
    position:fixed;
    top: 10px;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 98;
    padding-top: 6rem;
    opacity: 90% !important;
    transform: translateX(100%);
    background-color: #30334f;
    color: #fff;
    transition: 0.3s;
    /* opacity: 90%; */
    text-align: center;
}

.mobile-menu.is-open{
    opacity: 1;
    transform: translateY(0);
}
.mobile-menu a{
    display: block;
    padding: 1rem;
    color: #fff;
    text-align: center !important;
    text-decoration: none;
    font-size: 1.2rem;
    transition: 0.3s;
}
.mobile-menu a:hover{
    color: #fff;
    background-color: #8F93F3;
}
@media(max-width:768px){
    body{
        background-color: #30334F;
    }
    .hero{
        display: flex;
        padding: 30% 10%;
        flex-direction: column-reverse;
    }
    .hero h1{
        font-size: 1.1rem;
        color: #858484;
    }
    .hero b{
        color: #fff;

    }
    .about{
        padding: 30% 10%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        color: #ffffff;
        visibility: visible;
         opacity: 1;
         transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); 
        transition: opacity 1.5s cubic-bezier(0.5, 0, 0, 1) 1.2s, transform 1.5s cubic-bezier(0.5, 0, 0, 1) 1.2s;
    }
    .hero-content p{
        font-size: 1rem;
        text-justify:distribute-all-lines
    }
    .about div p{
       margin: 10px 0;
    }
    .about div img{
        width: 300px;
        height: 350px;
        margin: 10px 0;
    }
    .about_h1{
        width: fit-content;
    }
    .skills{
        color: white;
        padding: 4% 11%;
    }
    .skills h1{
        width: fit-content !important;
    }
    .skill_list{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        /* align-items: center; */
        padding-top: 40px;
    }
    .skill_list .pee{
       width: 100%;
       margin: 30px 0;
    }
    .skill_card{
        display: flex;
        flex-wrap: wrap;
    }
    .single_card{
       background-color: #394298;
       margin-bottom: 30px;
       width: 410px;
       height: 237px;
       padding: 21px 21px;
       margin-right: 30px;
    }
    .single_card h3{
        margin-top: 15px;
    }
    .single_card p{
        margin-top: 5px;
    }
    .single_card i{
        font-size: 1.5rem;
        padding-top: 5px;
        color: #8F93F3;
    }
    .project{
        color: #ffffff;
        padding: 4% 11%;
    }
    .project h1{
        width: fit-content;
        padding: 10px 0;
    }
    .card_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card{
        background-color: #394298;
        margin-top: 30px;
        margin-right: 30px;
        width: 326px;
        height: 285px;
        padding: 36px 22.62px 0;
    }
    .card i{
        color: #8F93F3;
        font-size: 1.5rem;
        padding-right: 15px;
        padding-top: 15px;
    }
    span a{
        color: #394298 !important;
    }
    .card p{
        margin:15px 0;
    }
    .cta{
        color: #ffffff;
        align-items: center;
        padding: 5% 11%;
        text-align: center;
    }
    .cta h3{
        font-size: 1rem !important;
    }
    .cta h5{
        font-size: 0.9rem;
    }
    .cta button{
        margin: 30px 0;
        background-color: #394298;
        outline: none;
        padding: 15px 30px;
    }
    .socials{
        color: #8F93F3;
        font-size: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .socials a{
        padding-right: 20px;
        transition:0.3s
    }
    .socials a:hover{
        color: #394298;
    }
    footer{
        color: white;
        background-color: #30334F;
        text-align: center;
        padding: 30px 0;
        font-size: 1.1rem;
    }
    footer a{
        text-decoration: none;
        color: #8F93F3;
    }
}

@media (min-width:768px) {
    .mobile-menu,.hamburger{
        display: none;
    }
    .menu{
        display: flex;
    }
    body{
        background-color: #30334f;
    }
    .hero{
        padding: 11% 11%;
        display: flex;
        /* flex-direction: row-reverse; */
        justify-content: space-evenly;
        align-items: center;
        text-transform: uppercase;
    }
    .hero b{
        color: #fff !important;

    }
    .hero h1{
        font-weight: 500;
        color: #858484;
    }
    .hero img{
        width: 600px;
    }
    .about{
        padding: 2% 11% 10%;
        color: #fff;
        
    }
    .about .hero-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .hero-content p{
        margin-top: 10px;
    }
    .about div p{
        margin-right: 100px;
    }
    .about div img{
        width: 600px;
        height: 400px;
    }
    .skills{
        color: white;
        padding: 4% 11%;
    }
    .skills h1{
        width: fit-content;
    }
    .skill_list{
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        padding-top: 40px;
    }
    .skill_list .pee{
       width: 50%;
       margin-right: 30px;
    }
    .skill_card{
        display: flex;
        flex-wrap: wrap;
    }
    .single_card{
       background-color: #394298;
       margin-bottom: 30px;
       width: 410px;
       height: 231px;
       padding: 21px 21px;
       margin-right: 30px;
    }
    .single_card h3{
        margin-top: 25px;
    }
    .single_card p{
        margin-top: 10px;
    }
    .single_card i{
        font-size: 2.2rem;
        padding-top: 10px;
        color: #8F93F3;
    }
    .project{
        color: #ffffff;
        padding: 4% 11%;
    }
    .project h1{
        width: fit-content;
    }
    .card_container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card{
        background-color: #394298;
        margin-top: 30px;
        margin-right: 30px;
        width: 326px;
        height: 285px;
        padding: 36px 22.62px 0;
    }
    .card i{
        color: #8F93F3;
        font-size: 1.5rem;
        padding-right: 15px;
        padding-top: 15px;
    }
    span a{
        color: #394298 !important;
    }
    .card p{
        margin:15px 0;
    }
    .cta{
        color: #ffffff;
        align-items: center;
        padding: 5% 11%;
        text-align: center;
    }
    .cta button{
        margin: 30px 0;
        background-color: #394298;
        outline: none;
        padding: 15px 30px;
    }
    .socials{
        color: #8F93F3;
        font-size: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .socials a{
        padding-right: 20px;
        transition:0.3s
    }
    .socials a:hover{
        color: #394298;
    }
    footer{
        color: white;
        background-color: #30334F;
        text-align: center;
        padding: 30px 0;
        font-size: 1.1rem;
    }
    footer a{
        text-decoration: none;
        color: #8F93F3;
    }

}
